<!DOCTYPE html>
<html ng-app="ATMProject" ng-controller="LandingPageController">
<head>
    <base href="/">
    <title ng-bind="models.title"></title>
    @Styles.Render("~/Content/css")   
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#">ATMProject</a>
    </nav>
    <div class="container mainContent">
        <div class="col-md-12">
            <div ui-view="containerOne"></div>
        </div>
        <br />
        <div class="col-md-12">
            <div ui-view="containerTwo"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/Bootstrap")
    @Scripts.Render("~/bundles/ATMProject")
</body>
</html>