<!DOCTYPE html>
<html ng-app ="ATMProject" ng-controller="LandingPageController">
<head>
  
    <title ng-bind="models.helloAngular"></title>
</head>
<body>

    <h1>{{models.helloAngular}}</h1>

    <ul>
        <li><a href= "/#!/routeOne" >Route One</a></li>
        <li><a href= "/#!/routeTwo/6" >Route Two</a></li>
        <li><a href= "/#!/routeThree" >Route Three</a></li>
    </ul>

    <ul>
        <li><a href="/#!/login">Login</a></li>
        <li><a href="/#!/logout">Logout</a></li>
    </ul>
    <div ng-view=""></div>

    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/ATMProject")
</body>
</html>