<div class="form-group col-lg-4">
<form ng-submit="login()">
    <label for="cardNumber">Card Number:</label>
    <input class="form-control" type="text" ng-model="loginForm.cardNumber" id="cardNumber" required />
    <br/>
    <label for="pin">Pin:</label>
    <input class="form-control" type="password" id="pin" ng-model="loginForm.pin" required />
     <br/>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
</div>
<div ng-if="loginForm.loginFailure">
    Login Failed
</div>

<div ng-if="loginForm.retainCard">
    Card has been retained    
</div>