<div class="container">    
        <div class="col-sm-4">
            <div class="tile blue">
                <a href="/#!/Withdraw"><p> Withdraw</p></a>
            </div>
        </div>  
    <div class="col-sm-4">
        <div class="tile blue">            
            <p>Option 1</p>
        </div>
    </div>  
    <div class="col-sm-4">
        <div class="tile blue">
            <p>Option 2</p>
        </div>
    </div>  
</div>