
<h2>{{models.MainMenu}}</h2>
<a class="btn btn-primary btn-lg" href="/#!/Withdraw"> Withdraw</a>
<a class="btn btn-primary btn-lg" href="">Option 2</a>
<a class="btn btn-primary btn-lg" href="">Option 3</a>
<a class="btn btn-primary btn-lg" href="">Option 3</a>
