<div class="container menucontainer col-lg-12">    
    <div class="row">
        <div class="col-sm-4">
            <div class="tile blue">
                <a href="/#!/Withdraw"><p> Withdraw</p></a>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
            <div class="tile blue">            
                <p>Option 1</p>
            </div>
        </div>            
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile blue">
                <p>Option 2</p>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <p>Option 3</p>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-4">            
            <div class="tile blue">
                <p>Option 4</p>
            </div>
        </div>
        <div class="col-sm-3">
            </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <p>Option 5</p>
            </div>
        </div>
    </div>
</div>