<h1>{{models.MainMenu}}</h1>
<br/>

<a class="btn btn-primary btn-lg" href="/#!/Withdraw"> Withdraw</a>
<a class="btn btn-primary btn-lg" href="">Option 2</a>
<a class="btn btn-primary btn-lg" href="">Option 3</a>
<a class="btn btn-primary btn-lg" href="">Option 3</a>
