
    <div class="col-lg-3 col-centered accountSelection">
    <select class="form-control" ng-model="selectedAccount" ng-change="WithdrawSelect(selectedAccount)" ng-init="mylist = GetAccountList()" ng-options="item.AccountNumber for item in accounts">
        <option value="">Select Account</option>
    </select>    
    </div>
