@model ATMProjectDAL.WithdrawViewModel
<h4>Balance : @Model.Balance </h4>
<h4>Account : @Model.Account </h4>


<form name="withdrawForm" novalidate ng-submit="withdraw('@Model.Account')">

    <div class="form-group" col-lg-8 col-centered>
        <input placeholder="Amount To Withdraw" class="form-control" ng-keyup="setDenominators()" type="number" name="inputAmount" id="amount" ng-model="withdrawForm.amount" pattern="^\d*[0]$" max="@Model.Balance"/>
        <div ng-messages="withdrawForm.inputAmount.$error" style="color:maroon" role="alert" ng-if="withdrawForm.inputAmount.$dirty">
            <div ng-message="pattern"><font size="2">The value should be a multiple of 10</font></div>
            <div ng-message="max"><font size="2">The value should not exceeds the balance</font></div>
        </div>
    </div>
    <div ng-if="withdrawForm.inputAmount.$valid">
        <div ng-repeat="denominator in  denominators track by $index">
            <div class="radio">                
                    <input id="radio_{{$index + 1}}" type="radio" ng-model="withdrawForm.selectedDenominator" name="withdrawForm.inputdenominator" ng-value="denominator">
                <label for="radio_{{$index + 1}}" class="radio-label">
                <span class="radio-label" ng-repeat="item in denominator track by $index"> {{item.Unit}} * {{item.Currency}}
                    <span class="radio-label" ng-if="$index < denominator.length-1">+</span>
                    </span>
                </label>    
            </div>
        </div>
    </div>
    <button class="btn btn-primary retrieveButton" type="submit">Retrieve</button>
</form>
