<button class="btn btn-primary btn-lg"> 20</button>
<button class="btn btn-primary btn-lg"> 50</button>
<button class="btn btn-primary btn-lg"> 100</button>
<button class="btn btn-primary btn-lg"> 500</button>
<button class="btn btn-primary btn-lg"> 1000</button>