#mybody {
    background-color: #f5f8f8;
}

.mainContent {
    margin-top: 200px;
}

.col-centered {
    margin-top: 100px;
    float: none;
    margin: 0 auto;
}

.accountSelection {
    margin-top: 25px;
}

strong {
    font-weight: 600;
}

a {
    display: block
}

div > p {
    font-family: 'Open Sans', "Segoe UI";
    line-height: 1.5em;
    font-weight: 500;
    color: aliceblue;
}

strong {
    font-weight: 600;
}

.tile {
    width: 100%;
    
    
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.tile .title {
    margin-top: 0px;
}

.tile.blue {
    color: #fff;
}

.tile.blue {
    background: #5d9aef;
}

.tile.blue:hover {
    background: #3197ee;
}

.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #f4f4f4;   
}

.radio input[type="radio"]:checked + .radio-label {
 font-family: 'Global Sans Serif';

}   
    
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197ee;
}

.retrieveButton {
 float:right;
}

.containerOneMessage {
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style:italic;
    color:lightblue;
    /*background: rgba(182,206,227,1);
    background: -moz-linear-gradient(left, rgba(182,206,227,1) 0%, rgba(47,123,234,0.46) 86%, rgba(25,109,235,0.46) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182,206,227,1)), color-stop(86%, rgba(47,123,234,0.46)), color-stop(100%, rgba(25,109,235,0.46)));
    background: -webkit-linear-gradient(left, rgba(182,206,227,1) 0%, rgba(47,123,234,0.46) 86%, rgba(25,109,235,0.46) 100%);
    background: -o-linear-gradient(left, rgba(182,206,227,1) 0%, rgba(47,123,234,0.46) 86%, rgba(25,109,235,0.46) 100%);
    background: -ms-linear-gradient(left, rgba(182,206,227,1) 0%, rgba(47,123,234,0.46) 86%, rgba(25,109,235,0.46) 100%);
    background: linear-gradient(to right, rgba(182,206,227,1) 0%, rgba(47,123,234,0.46) 86%, rgba(25,109,235,0.46) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6cee3', endColorstr='#196deb', GradientType=1 );*/
}

.containerTwo {
margin-top: 25px;
}

.balance {
float: right;
margin-top: 25px;
margin-bottom: 75px;
}
